@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

*{
  word-break: keep-all;
}
body {
  color: var(--foreground);
}

*::selection {  
  color: black;  
  background-color: transparent;}

  /* 모바일에서 푸터 텍스트 밑줄 제거 */
footer *, .deleteunderline {
  text-decoration: none !important;
}

/* Swiper Navigation Styling */
.swiper-button-next,
.swiper-button-prev {
  color: #C1FF00 !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  font-weight: bold;
}

/* Swiper Pagination Styling */
.swiper-pagination-bullet {
  background: #C1FF00 !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}