/* 폰트 정의 */
@font-face {
  font-family: 'Pretendard';
  src: url('/font/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  display: block; 
}

@font-face {
  font-family: 'ballpill';
  src: url('/font/BallPill-regular.woff') format('woff');
  display: block;
}

* {
  word-break: keep-all;
  box-sizing: border-box;
}

body {
  font-family:'Pretendard', sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 1.4em;
}

/* 영문 텍스트 */

.ml-en, .ml-num, .ml-punct {  
  font-family: 'ballpill', sans-serif;
  font-size: 0.9em;

  /* baseline shift */
  position: relative;
  top: 0;
}